body {
  width: 100%;
  height: 100;
}
header {
  background-color: red;
}
.css_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.card {
  background-color: green;
  border-radius: 10px;
  border: 3px dashed white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px ;
  padding: 20px;
  width: 30%;
  height: 600px;
  
}

@media screen and (max-width: 992px) {
  .card{
      width: 35%;
  }
}

@media screen and (max-width: 768px){
  .card{
      width: 50%;
  }